<% include ./partials/header.ejs %>
<div class="container_2">
    <section class="about-section">
        <h3>About Us</h3>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Labore dolorum nemo eligendi quaerat amet officiis
            distinctio inventore accusamus? Corrupti nisi aliquam nostrum dicta corporis quidem cum expedita atque
            obcaecati nesciunt!</p>
    </section>
</div>


<% include ./partials/footer.ejs %>