<% include ./partials/header.ejs %>
<section id="main-content">
        <div class="container_1">
            <h1>Welcome To Bajaj Finance</h1>
            <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Vero minus nesciunt illum, quia molestias ab! Quis aliquam ipsum dignissimos quas Lorem ipsum dolor sit amet consectetur adipisicing elit. Aliquid harum error inventore dolores rerum voluptate deserunt commodi numquam libero esse quam aliquam aspernatur est natus, doloremque eaque et beatae aperiam.</p>
        </div>
</section>
<% include ./partials/footer.ejs %>