<% include ./partials/header.ejs %>
<div class="container_2">
    <h1 class="brand">Bajaj Finance Registration</h1>
    <div class="wrapper">
        <div class="company-info">
            <h3>Bajaj Finance</h3>
            <ul>
                <li>Good Street </li>
                <li>(+91)8757865798</li>
            </ul>
        </div>
    </div>
    <div class="register">
        <form method="post" name="signUp" action="/signup">
            <p>
                <label for="UserName">Username:</label>
                <input type="text" name="reg[username]" id="">
            </p>
            <!-- <p>
                <label for="Last Name">Lastname:</label>
                <input type="text" name="lname" id="">
            </p> -->

            <p>
                <label for="Password">Password:</label>
                <input type="password" name="reg[password]" id="">
            </p>

            <p>
                <label for="Phone">Phone:</label>
                <input type="number" name="reg[phoneNo]" id="">
            </p>

            <!-- <p>
                <label for="Country">Country:</label>
                <input type="text" name="country" id="">
            </p>

            <p>
                <label for="City">City:</label>
                <input type="text" name="city" id="">
            </p> -->


            <!-- <p class="full">
                <label for="Address">Address:</label>
                <textarea name="" id="" cols="30" rows="7"></textarea>
            </p> -->
            <p class="full">
                <button>Submit</button>
            </p>

        </form>
    </div>
</div>




<% include ./partials/footer.ejs %>