<% include ./partials/header.ejs %>
<div class="container_2">
    <h1 class="brand">Bajaj Finance Registration</h1>
    <div class="wrapper">
        <div class="company-info">
            <h3>Bajaj Finance</h3>
            <ul>
                <li>Good Street </li>
                <li>(+91)8757865798</li>
            </ul>
        </div>
    </div>
    <div class="register1">
        <form method="post" name="signUp">
            <p>
                <label for="UserName">Username:</label>
                <input type="text" name="username" id="">
            </p>

            <p>
                <label for="Password">Password:</label>
                <input type="password" name="password" id="">
            </p>

            <p class="full">
                <button>Submit</button>
            </p>

        </form>
    </div>
</div>






<% include ./partials/footer.ejs %>